/*
Default template CSS - if you change anything here then updating will be a bit more tricky than you might want
*/
@font-face {
    font-family: MetaWebPro-Black;
    src: url(../fonts/MetaWebPro-Black.woff) format('woff');
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a:link, 
a:visited,
a:focus,
a:hover,
a:active {
    color: #EF4619;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}
aside {
    position: relative;
}
.box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.busta {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.columns {
    overflow: hidden;
    padding-left: 0;
    margin-top: 0;
    clear: both;
}
.col {
    list-style-type: none;
    overflow: hidden;
}
/**= Sections */
/* Masthead */
.masthead {
    background: rgba(0, 0, 0, 0.8);
    border-top: 2px solid #FFF;
    color: #fff;
}
.masthead ul {
    overflow: hidden;
    margin: 0;
    padding-left: 0;
}
.masthead ul li {
    float: left;
    border-left: 1px solid #686868;
}
.masthead ul li:first-child {
    border-left: none;
    padding-left: 0;
}
.masthead ul a {
    padding: 1em;
    display: block;
    font-size: 12px;
}
.masthead ul li:first-child a {
    padding-left: 0;
}
.masthead ul a:link,
.masthead ul a:visited,
.masthead ul a:focus,
.masthead ul a:hover,
.masthead ul a:active {
    color: #f3f3f3;
}
/* External links */
.external {
    background: url("../img/css/bg_external.png") repeat-x scroll 0 0 #fff;
    font-family: Georgia;
}
.external h2 {
    padding-top: 40px;
    font-family: "MetaWebPro-Black";
    background: transparent url(../img/css/icons.png) no-repeat top left;
    color: #2e2e2d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}
.external .tweet h2 {
    background-position: 0 -140px;
}
.external .mozilla h2 {
    background-position: 0 -290px;
}
.external .learn h2 {
    background-position: 0 -440px;
}
.external p {
    font-size: 14px;
    color: #454545;
}
.external ul {
    padding-left: 0;
}
.external li {
    list-style-type: none;
    border-top: 1px solid #D8DADC;
    padding: 0.5em 0;
    font-size: 14px;
}
.external li:first-child {
    border-top: none;
    padding-top: 0;
}
/* Partners */
.partners {
    background: url("../img/css/bg_partners.png") repeat-x scroll 0 0 #ececec;
}
.partners h2 {
    float: left;
    margin: 1em 0 0; /* 1em = 18px; */
    font-family: "MetaWebPro-Black";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
}
.partners ul {
    float: left;
    margin: 0;
    padding-left: 0;

}
.partners li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
/* Main content */
div[role=main] {
    background: #fff;
    margin: 0.625em 0;
}

/**= And now time for your styles */

/*
Open Badges styles 
*/

@font-face {
  font-family: Bebas-Neue;
  src: url(../fonts/BebasNeue-webfont.woff) format('woff');
}

a:link, 
a:visited,
a:focus,
a:hover,
a:active {
  color: #2c8de6;
}

/* Sandstone buttons */
.button {
  float: left; 
  display: block; 
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
  /*font: 14px/48px 'OpenSans-Reg', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;*/
  letter-spacing: -0.25px;
  height: 48px; 
  width: 252px; 
  background-color: #1D94E4; 
  text-align: center; 
  color: white;
  border-bottom: none;

  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;

  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1); 

  /* IE10 */ 
  background-image: -ms-linear-gradient(top, #1D94E4 0%, #006DCA 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #1D94E4 0%, #006DCA 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #1D94E4 0%, #006DCA 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1D94E4), color-stop(1, #006DCA));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #1D94E4 0%, #006DCA 100%);

  /* Proposed W3C Markup */ 
  background-image: linear-gradient(top, #1D94E4 0%, #006DCA 100%);

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -webkit-transition-duration: 0.25s;  
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -moz-transition-duration: 0.25s;  
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  transition-duration: 0.25s;  
  transition-delay: 0s;
}

.button:hover {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(255,255,255,0.2);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(255,255,255,0.2); 

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -webkit-transition-duration: 0.25s;  
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -moz-transition-duration: 0.25s;  
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  transition-duration: 0.25s;  
  transition-delay: 0s;
}

.button:active {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2); 

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -webkit-transition-duration: 0.25s;  
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  -moz-transition-duration: 0.25s;  
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;  
  transition-duration: 0.25s;  
  transition-delay: 0s;
}

a.button:link, 
a.button:visited,
a.button:focus,
a.button:hover,
a.button:active {
  color: #fff;
  text-decoration: none;
}

a.button:after {
  content: ' ❯'
}

/**= Sections */
/* Masthead */
.masthead ul a:link,
.masthead ul a:visited,
.masthead ul a:focus,
.masthead ul a:hover,
.masthead ul a:active {
  color: #333;
}

.masthead {
  background: none;
}

.masthead ul a {
  text-transform: uppercase;
}

#logo {
  font-family: "Bebas-Neue";
  font-size: 54px;
  color: #444;
  text-decoration: none;
  float: left;
  margin-right: 75px;
}

/* External footer */
.external {
  background: none;
  background-color: #323538;
}

.external h2,
.external p {
  color: #9c9c9c;
}

.external li {
  border-top: 1px solid #2c8de6;
}

/* Partners footer */
.partners {
  background: none;
  background-color: #000;
}

.partners h2 {
  color: #87888b;
}

/* Main body */
#header-and-content {
  background: url("../img/mozorg-gradient.png") repeat-x scroll center top #F5F1E8;
}

div[role=main] {
  margin: 0.625em 0 0 0;
  background: none;
  font: normal 16px Georgia,"Times New Roman",Times,serif;
  color: #656565;
}

/**= Pages */
/* Landing page styles */

#what-are-badges {
  font-style: italic;
}

#what-are-badges .wrapper {
  background: url("../img/index/gladis_body.png") no-repeat scroll right bottom transparent;
  width: 100%;
  height: 368px;
  margin: 0 auto;
}

#what-are-badges #hands {
  width: 120px;
  height: 122px;
  background: url("../img/index/gladis_hands.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  right: 50px;
  top: 160px;
  -moz-animation-duration: 18s;
  -moz-animation-name: wiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;
  -webkit-animation-name: wiggle;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-duration: 18s;
  -ms-animation-name: wiggle;
  -ms-animation-iteration-count: infinite;
  animation-duration: 18s;
  animation-name: wiggle;
  animation-iteration-count: infinite;
}

@-moz-keyframes wiggle {
  0% { -moz-transform: rotate(0deg); }
  90% { -moz-transform: rotate(0deg); }
  91% { -moz-transform: rotate(-4deg); }
  93% { -moz-transform: rotate(4deg); }
  94% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(0deg); }
}
 
@-webkit-keyframes wiggle {
  0% { -webkit-transform: rotate(0deg); }
  90% { -webkit-transform: rotate(0deg); }
  91% { -webkit-transform: rotate(-4deg); }
  93% { -webkit-transform: rotate(4deg); }
  94% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); }
}
 
@-ms-keyframes wiggle {
  0% { -ms-transform: rotate(0deg); }
  90% { -ms-transform: rotate(0deg); }
  91% { -ms-transform: rotate(-4deg); }
  93% { -ms-transform: rotate(4deg); }
  94% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(0deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  90% { transform: rotate(0deg); }
  91% { transform: rotate(-4deg); }
  93% { transform: rotate(4deg); }
  94% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
  
#what-are-badges .wrapper h1 {
  padding-top: 35px;
  font-size: 42px;
  font-weight: normal;
  text-transform: lowercase;
}

#what-are-badges .wrapper h1 em {
  font: normal 65px/42px "MetaWebPro-Black";
  text-transform: uppercase;
  display: block;
}

#what-are-badges .wrapper p {
  font-style: italic;
  font-size: 20px;
  padding-right: 251px;
  max-width: 600px;
  margin-bottom: 50px;
}

.button#get-started {
  font-size: 24px;
  line-height: 48px;
}

#issuer-user-displayer {
  border-top: 1px solid #cbac78;
  padding-bottom: 80px;
  padding-top: 20px;
  margin-top: 40px;
  overflow: hidden;
}

#issuer-user-displayer .col {
  text-align: center;
  border-left: 1px dashed #CBAC78;
  height: auto;
  overflow: visible;
  margin-top: 20px;
}

#issuer-user-displayer .col:first-child {
  border-left: none;
}

#issuer-user-displayer img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

#issuer-user-displayer h2 {
  font: normal 35px "MetaWebPro-Black";
  text-transform: uppercase;
  margin: 5px 0;
}

#issuer-user-displayer p {
  margin-top: 0px;
}

#issuer-user-displayer a {
  color: #656565;
  text-decoration: none;
}

.badge {
  display: block;
  width: 125px;
  height: 150px;
  margin: 0 auto;
  background: url("../img/index/goldbadges.png") no-repeat scroll 0 0 transparent;
  -moz-transition: -moz-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
}

.badge:hover {
  -moz-transform: scale(1.25) rotate(5deg);
  -webkit-transform: scale(1.25) rotate(5deg);
  -o-transform: scale(1.25) rotate(5deg);
  -ms-transform: scale(1.25) rotate(5deg);
}

#issuer_badge {
  background-position: -12px 0;
}

#user_badge {
  background-position: -146px 0;
}

#displayer_badge {
  background-position: -292px 0;
}

#badges-101 {
  display: none;
}

.slides_container {            
  width:470px;
  height:270px;                
}
.slides_container div {
  width:470px;
  height:270px;
  display:block;
}

#slides .pagination {
  margin:26px auto 0;
  width:100px;
}

#slides .pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

#slides .pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(../img/slides/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

#slides .pagination li.current a {
  background-position:0 -12px;
}

/* Participant (issuer/displayer/user) page styles */

.participant h1 {
  font: normal 65px/65px "MetaWebPro-Black";
  margin-bottom: 0;
  text-transform: uppercase;
}

.participant h2,
.participant h3 {
  font-weight: normal;
  font-style: italic;
}

.participant h2 {
  font-size: 44px;
  line-height: 44px;
  margin: 0;
}

.participant h3 {
  font-size: 24px;
  line-height: 24px;
}

.participant li {
  margin-bottom: 1em;
}

.participant a.top {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #656565;
}

.participant a.top:before {
  content: "⇧ ";
}

.participant #content > section {
  border-top: 2px dashed #f7b137;
  padding: 30px 250px 30px 0;
  margin-bottom: 20px;
  position: relative;
}

.participant #content > section:first-child {
  border-top: none;
  font-size: 20px;
  min-height: 200px; /* this + top/bottom padding = img height */
  margin-top: -60px;
  padding-top: 100px;
}

#issuer #content > section:first-child {
  background: url("../img/issuer/boris.png") no-repeat scroll right bottom transparent;
}

#issuer #hands {
  width: 130px;
  height: 122px;
  background: url("../img/issuer/boris_hand.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  right: 53px;
  top: 100px;
}
