{% extends "base.html" %}
{% block section_id %}main{% endblock %}
{% block page_id %}about{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>About</h1>
    <nav>
      <ul>
        <li id="background-nav"><a href="#background">Background</a></li>
        <li id="how-it-works-nav"><a href="#how-it-works">How does it work?</a></li>
        <li id="obi-nav"><a href="#obi">Open Badge Infrastructure</a></li>
      </ul>
    </nav>
  </header>

  <section id="content">
    <section id="background">
      <h2>Background</h2>
      <h3>Learning today happens everywhere</h3>
      <p>But it's often difficult to get recognition for skills and achievements gained outside of school. Mozilla's Open Badges project is working to solve that problem, making it easy for any organization or learning community to issue, earn and display badges across the web. The result: recognizing 21st century skills, unlocking career and educational opportunities, and helping learners everywhere level up in their life and work.</p>
      
      <h3>Get recognition for new skills and achievements</h3>
      <p>The web and other new learning spaces provide exciting ways to gain skills and experience—from online courses, learning networks and mentorship to peer learning, volunteering and after-school programs. Badges provide a way for learners to get recognition for these skills, and display them to potential employers, schools, colleagues and their community.</p>
      
      <h3>Through a simple framework that's open to all</h3>
      <p>Using Mozilla’s Open Badges infrastructure, any organization or community can issue badges backed by their own seal of approval. Learners and users can then collect badges from different sources and display them across the web—on their resume, web site, social networking profiles, job sites or just about anywhere.</p>

      <h3>Unlocking new career and learning opportunities</h3>
      <p>By displaying skills and achievements that traditional degrees and transcripts often leave out, badges can lead to jobs, community recognition, and new learning opportunities.</p>
    </section>
    <section id="how-it-works">
      <h2>How does it work?</h2>

      <p>Any Badge Issuer (for example, an after-school program, free online course, or vocational institute) can award Badges to learners like you. Learners/users can then collect and manage their badges in a Badge Backpack. This makes it easy to display your skills and achievements across a range of different Display Sites—from your personal resume or web site, to social networking profiles, to employment sites. The result? Jobs, new learning opportunities and unlocked potential.</p>
      <p><img src="/img/Badge-diagram-2.2.jpg"></p>
      <a href="#" class="top">Return to top</a>
    </section>
    <section id="obi">
      <h2>Open Badge Infrastructure</h2>

      <p>Mozilla's Open Badge Infrastructure provides the open, core technology to support an ecosystem of badges. It is designed to support a broad range of different badge issuers, and allow any user to earn badges across different issuers, web sites and experiences, then combine them into a single collection tied to their identity. This collection of badges can then be shared out to various audiences across the web, resulting in real-world results like jobs or formal credit.</p>
      <p><a href="http://github.com/mozilla/openbadges">The OBI source code</a></p>
      <a href="#" class="top">Return to top</a>
    </section>
  </section>
{% endblock %}
