<!doctype html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Sandstone - Bedrock's layer of CSS love</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="/css/screen.css" />
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
    {% block stylesheets %}{% endblock %}
  </head>
  
  <body lang="en">
  
    <div id="tabborder">
    <div id="outer">
    <div id="framework">
      <header>
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a> 
      </header>
      <section id="content">
        <div class="wrapper">
          {% block content %}{% endblock %}
        </div>
      </section>
      <footer>
      </footer>
    </div>
    </div>
    </div>

    <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>     
  </body>
  
</html>
