{% extends "base.html" %}
{% block section_id %}participant{% endblock %}
{% block page_id %}displayer{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>Displayer</h1>
    <h2>What do I need to know?</h2>
  </header>

  <section id="content">
    <section>
      <h3>What is a Displayer?</h3>
      <p>
        A displayer is a website, organization, group or individual that accesses publicly shared badges from the Open Badge Infrastructure (OBI) and displays them for a user. Badge display plays a crucial role in the Open Badges ecosystem—part of a badge’s value resides in its usage or social currency. A factor that is affected by where and how badges are displayed. Social networking sites, discipline-oriented community portals, and job search sites, as well as personal sites and blogs are all potential badge displayers. 
      </p>
      <div id="hands"></div>
    </section>
    <section>
      <h3>Why become a displayer?</h3>
      <ul>
        <li>
          <strong>Build comprehensive profiles.</strong> Enhance your users’ profiles with more granular skill and competency information.
        </li>
        <li>
          <strong>Connect users with more opportunities.</strong> Use badges to connect users to opportunities, alternative professional pathways, and relevant communities.
        </li>
        <li>
          <strong>Build community and social capital.</strong> Help learners find mentors and peers with similar interests. Badges help reinforce camaraderie, synthesize teams and build communities of practice.  
        </li>
        <li>
          <strong>Understand your users.</strong> Badges provide evidence-backed data you can use to better understand your users’ skills, interests, history and goals.
        </li>
      </ul>
    </section>
    <section>
      <h3>How do I get started?</h3>

      <p>
      The OBI is open and supports any independent displayer that conforms to the necessary displaying specifications. See the <a href="http://openbadges.org/infrastructure-tech-docs/">technical documentation</a> for more details.
      </p>
      <a href="#" class="top">Return to top</a>
    </section>
  </section>
{% endblock %}
