{% extends "base.html" %}
{% block section_id %}participant{% endblock %}
{% block page_id %}user{% endblock %}

{% block head %}
<!-- Here's where you add the issuer api -->
<script src="http://beta.openbadges.org/issuer.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<header>
  <h1>I'm a DML Finalist!</h1>
  <h2>Give me a badge!</h2>
</header>

<section id="content">
  <section>
    <h3>You deserve a badge!</h3>
    <p>We think you're tops, you've made it a long way to the DML Finals,
    and you deserve a badge to memorialize the achievement!  Plus, it gives
    us a chance to show off our fancy new Issuer API.  <strong>Click the badge
    below to send it to your backpack.</strong>
    <p><img src="/img/DML.png"></p>

  </section>
  <section>
    <h3>What happens when I click on the badge?</h3>
    <p>When you click on the badge above, a few things happen - you'll be asked to 
    sign in to your backpack, then an assertion will be created that verifies you
    own the badge.  Your backpack will grab the badge image, grab the assertion data,
    and bake them into a badge that's now hosted on your
    Mozilla Open Badges backpack.</p>

    <p>The process of adding all this fancy issuing stuff is a relatively easy process.
    As long as you (as an issuer) have a hosted assertion (in simple JSON format) and
    can add a few lines of javascript, then you'll be able to issue a badge.  Easy
    Peasy.</p>

    <p>If you want to dive into the code a bit, start by viewing the source of this
    page!</p>

  </section>
</section>

{% endblock %}
