{% extends "base.html" %}
{% block section_id %}main{% endblock %}
{% block page_id %}faq{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>FAQ</h1>
    <nav>
      <ul>
        <li id="badges-nav"><a href="#badges">Badges</a></li>
        <li id="systems-nav"><a href="#badge-systems">Badge Systems</a></li>
        <li id="obi-nav"><a href="#obi">Open Badge Infrastructure</a></li>
        <li id="dml-nav"><a href="#dml-competition">DML Competition</a></li>
      </ul>
    </nav>
  </header>

  <section id="content">
    <section id="badges">
      <h2>Badges</h2>
      <h3>What is a badge?</h3>
      <p>
        A 'badge' is a symbol or indicator of an accomplishment, skill, quality or interest. Badges can be used to represent achievements, communicate successes, set goals, and motivate behaviors,. They can support learning that happens in new ways and new spaces beyond the traditional classroom. These include online courses, after-school programs, work and life experiences. By providing a more complete picture of learners' skills and competencies, badges can signal achievement to a variety of communities and institutions including potential employers, educational organizations and social groups.
      </p>
      <h3>What do badges do?</h3>
      <p>Badges can:</p>
      <ul>
        <li>Capture a wide set of skills and achievements</li>
        <li>Provide concrete evidence and proof of your skills, achievements and qualities</li>
        <li>Represent them to potential employers, communities and stakeholders</li>
        <li>Unlock new career and learning opportunities</li>
      </ul>
      <h3>Why do we need badges?</h3>
      <p>
        In today's world, learning happens anywhere and everywhere. Opportunities for personal growth have expanded to include multiple contexts: social, informal, participatory, and creative. With all of this increased opportunity for learning, there’s been a piece missing. An essential piece. Formal recognition for these continually earned, hard-won competencies and skills. The solution? A badge ecosystem that can bridge this gap by providing occasions for individual learners to express their learning, skills and achievements through earned personal badge collections.
      </p>
      <h3>What are the benefits of badges?</h3>
		<p>Badges can:</p>
		<ul>
	    	<li>Signal achievement: Badges signal skills and achievements to peers, potential employers, educational institutions and others.</li>
	    	<li>Recognize informal learning: Learners can get credit and recognition for the learning that happens outside of school. e.g., in after-school programs, work experience or online.</li>
	    	<li>Transfer learning across spaces and contexts: Skills are made more portable across jobs, learning environments and places through badges.</li>
	    	<li>Capture more specific skills than traditional degrees: Badges allow a more granular recognition of specific skills than a traditional degree.</li>
	    	<li>Support greater specialization and innovation: Badges can support specialized and emerging fields that are not in traditional learning environments.</li>
	    	<li>Allow greater diversity: With recognition of "soft skills," social habits, motivation etc. badges are able to recognize a greater diversity of skills than traditional programs measure or recognize.</li>
	    	<li>Motivate participation and learning outcomes: Badges provide feedback, milestones and rewards throughout a course or learning experience, encouraging engagement and retention.</li>
	    	<li>Allow multiple pathways to learning: Badges encourage learners to take new paths or spend more time developing specific skills.</li>
	    	<li>Unlock privileges: For example, students at a school computer lab might be required to earn a "Digital Safety" badge before being allowed to surf the web.</li>
	    	<li>Enhance your identity and reputation: Badges raise your profile within the learning community and peers and allow you to aggregate identities from across other communities.</li>
	    	<li>Build community and social capital: Badges help learners find peers or mentors with similar interests. Community badges help formalize camaraderie, team synthesis and communities of practice.</li>
	    	<li>Capture the learning path and history: With degrees or cumulative grades, much of the learning path -- the set of steps and milestones that led to the degree -- is lost or hard to see. Badges can capture a more specific set of skills and qualities as they occur along the way, along with issue dates for each. This means we can track the set of steps the most successful learners take to gain their skills -- and potentially replicate that experience for others.</li>
	    	<li>Recognize new skills and literacies: New literacies that are critical to success in today's digital world -- like appropriating information, judging its quality, multitasking and networking -- are not typically taught in schools and don't show up on a transcript. Badges can recognize these new skills and literacies.</li>
	    	<li>Provide a more complete picture of the learner: Badges provide a more complete picture of skills and learning history for potential employers, schools, peer groups and others.</li>
		</ul>
      <h3>What kinds of skills and accomplishments can badges represent?</h3>
		<p>Badges can represent a diverse range of skills, competencies, qualities, achievements and interests, including:</p>
		<ul>
	    	<li>"hard skills" like completing a course, mastering a specific programming language or math concept</li>
	    	<li>"soft skills" like critical thinking, communication or collaboration</li>
	    	<li>community recognition like reputation and status</li>
	    	<li>new skills like digital literacies</li>
	    	<li>specific, granular accomplishments or activities like leaving helpful comments for other learners, logging into an online learning web site for 10 consecutive days</li>
		</ul>
      <h3>What form do badges take? Is it just something I stick on a web page or sew on my shirt?</h3>
    	<p>The badge itself is more than a static image or button -- its value comes from the information or "metadata" attached to it.</p>
    	<p>The information "behind" each badge provides justification and validation, including:</p>
        <ul>
			<li>who issued the badge</li>
        	<li>the issue date</li>
        	<li>how the badge was earned</li>
        	<li>hyperlinks back to artifacts, documents, or testimonials demonstrating the work that lead to earning the badge.</li>
        	<li>authentication back to the issuer</li>
		</ul>
    	<p>This supporting data reduces the risk of gaming the system (e.g., illegitimately copying badges and putting them on your site) and builds in an implicit validation system. The metadata may vary based on the particular skill, assessment and issuer.</p>
      <h3>Who can issue badges?</h3>
		<p>Badges can be created, defined and issued by a number of sources, including:</p>
		<ul>
	    	<li>Traditional educational institutions</li>
	    	<li>Professional bodies (e.g. doctors, engineers, accountants)</li>
	    	<li>International credential assessment agencies</li>
	    	<li>Non-formal, community learning organizations (e.g. Adult Basic Education, Literacy, Employment agencies)</li>
	    	<li>Communities of practice (e.g., open education projects, peer learners, or the individual learners themselves)</li>
	    	<li>After-school programs and learning networks</li>
	    	<li>Online courses and open courseware initiatives</li>
	    	<li>Companies/organizations that employ people</li>
		</ul>
    </section>
    <section id="badge-systems">
      <h2>Badge Systems</h2>
		<h3>What are the different types and granularities of badges?</h3>
		<ul>
	    <li>"Smaller" badges can be used for motivation and feedback and tied to smaller behaviors or achievements.</li>
	    <li>"Larger" badges can be used for certification purposes. Endorsed by specific organizations or other authorities, with more rigorous or defined assessments.</li>
	   	<li>Basic or foundational badges can provide the core or entry-level framework for acquiring skills</li>
	    <li>Intermediate and expert level badges can provide the pathways and milestones to guide learners through to mastery.</li>
 	    <li>Lower level badges may be required as prerequisites to unlock higher level badges, much as we have seen in various gaming environments.
	        <ul><li>These requirements can be made explicit through documented pathways and instructions, providing learners with a roadmap toward mastery.</li></ul></li>
	    <li>"stealth assessment" approach can involve particular actions or accomplishments suddenly unlocking higher levels, making learners more aware of their learning and motivating engagement.</li>
	    <li>Multiple badges can be aggregated into higher-level "meta badges" that represent more complex literacies or competencies.
	        <ul><li>These meta-badges can be created and issued by organizations to target specific sets of skills and to signal general mastery.</li></ul></li>
		</ul>


	<h3>What are the key components of a successful badge system?</h3>
		<p>The key elements of an open badge system for connected learning are:</p>
		<ul>
	    <li>badges</li>
	    <li>assessments</li>
	    <li>an open infrastructure for issuing, collecting and sharing badges.</li>
	</ul>
    </section>
    <section id="obi">
      <h2>Open Badge Infrastructure</h2>
	<h3>What is the Open Badge Infrastructure?</h3>
	<p>The Mozilla Open Badge Infrastructure is the core underlying technical scaffolding for the badge ecosystem that supports a multitude of issuers conferring badges into the ecosystem, and many displayers or consumers using badges to share their competencies and achievements.</p>
	<p>Any given learner/user can earn badges across many issuers, collect them in one place tied to their identity, and then share them with various websites and audiences including career sites, social networks or personal portfolios.</p>
<p>Mozilla is building this infrastructure including the core repositories and management interfaces (each user’s Badge Backpack), as well as specifications required to push badges in (issuers) or pull them out (displayers).</p>

	<h3>What does the Open Badge Infrastructure do?</h3>

	<p>The badge infrastructure:</p>
<ul>
	    <li>supports the issuing, collection, and display of badges</li>
		    <li>allows learners to tie badges to their identity, and carry their badges with them wherever they go</li>
		    <li>displays their badges to the audiences they care about -- peers, employers, or other institutions</li>
		    <li>allows learners to group, sort and manage their badges, and set privacy controls</li>
		    <li>is open and decentralized, to support badges from multiple sources</li>
		    <li>enables display across multiple sites</li>
	</ul>


	<h3>What is the Badge Backpack?</h3>

	<p>The Badge Backpack is the core repository for the digital badge data and the management interface on top. Each user will have his/her own Badge Backpack, accessible only to him/her, where s/he can view all her badges, set privacy controls, create groups and share them.</p>

	<h3>Will there be costs associated with earning badges?</h3>

	<p>There are no costs associated with collecting badges within the Open Badge Infrastructure (OBI) or sharing them through the API (application programming interface) and communication channels.</p>

	<p>That said, the OBI is the infrastructure in the middle – issuers and displayers are free to innovate and design experiences of their own, independent of the infrastructure. So some issuers may charge for certain assessments or badges, and on the other end, some displayers may have a fee for pulling badges into a particular network or profile.</p>

	<h3>How will the value of the badges be authenticated?</h3>

	<p>In this system, a digital badge is more than just an image – it is essentially a collection of metadata that fully explains the badge and includes information such as the issuer, issue date, criteria for earning the badge, expiration if needed, the learner’s work or evidence behind the badge, etc. So the badge acts as a gateway or conversation starter, but the bulk of the information is in that metadata and it can act as an informal validation system itself.</p>

	<p>Further, the Open Badge Infrastructure includes an authentication channel so that whenever someone tries to use or share a badge, the displayer/consumer can call back to the issuer through this channel and confirm that the issuer in fact issued this badge to this user and that they badge is still valid. If the issuer responds positively, the badge is authenticated/validated, otherwise the badge is non-validated and therefore will most likely not be accepted or used.</p>

	<h3>Will badges expire? Or will that depend on the individual badge?</h3>

	<p>It will depend on the individual badge. Issuers can set expiration dates with each badge that they issue and that information will be carried with the badge. Issuers might choose to do so for skills that need to be refreshed or are quickly outdated. Through the Open Badge Infrastructure, when someone tries to use or share a badge that has expired, the OBI will convey that the badge is expired.</p>

	<h3>When can I access the online Badge Backpack? When is the first badge available?</h3>

	<p>The Open Badge Infrastructure, and Badge Backpacks, are currently in developer preview beta version with an initial set of issuers. Learners are already earning badges from these issuers and collecting them in their Badge Backpacks. The infrastructure is expected to be launched publicly end of Q1 2012 at which point anyone can become an issuer and there will be many ways people can earn badges.</p>

	<h3>On what website will the Open Badge Infrastructure be hosted after it is built? Will this hosting be “lifelong” to match our goals of students engaging in lifelong learning?</h3>

	<p>The goal is to support lifelong learning through lifelong access to badges. Mozilla is building the reference implementations of the Badge Backpacks and will host them. But Mozilla is building the infrastructure in a way to support complete decentralization and openness so it will be easy for users, or even organizations, to host and manage their own Badge Backpacks and still work within the infrastructure and wider ecosystem.</p>

	<h3>How can learners/users manage their badges for different uses and audiences?</h3>
	<ul>
	    <li>Badges' value increases as users gain control over how they're displayed for different audiences and contexts.</li>
	    <li>Users can create subgroups of badges through the Backpack and control which badges are available to different audiences. For example, you may want to display one set of badges for your peers, but another set for a specific potential employer.</li>
	    <li>Users can also add badges to any external website or environment that supports badge display. These include personal websites, blogs, and social networking environments LinkedIn or Facebook.</li>
</ul>


	<h3>Can I see the tech behind all of this?</h3>
	<p>Absolutely.</p>
	<ul>
	    <li>Documentation</li>
	    <li>Source Code</li>
	</ul>
    </section>
    <section id="dml-competition">
      <h2>DML Competition</h2>
	<h3>What is the relationship between the DML Competition and Mozilla Open Badges?</h3>

	<p>The success of badges as an alternative path to accreditation and credentialing for learners relies on a significant “ecosystem” of badge issuers, badge seekers, and badge displayers.</p>

	<p>The DML Competition aims to spur the development of that ecosystem through the creation of high quality, valuable individual badges and sets of badges. The Mozilla Foundation, with support from the MacArthur Foundation, is building an Open Badge Infrastructure to enable the interoperability and collection of badges.</p>

	<p>The infrastructure will support badges from any issuer across the Internet. It will allow learners to collect, carry, and display their badges across websites and experiences and from youth through adulthood. All badges and sets of badges developed through the 2011 DML Competition will be designed to plug into the Mozilla infrastructure—which will contribute, in turn, to the development of the larger badge ecosystem. In this ecosystem, each digital badge or collection of badges can inspire learning and translate “anytime, anyplace, any age” learning into a powerful tool for getting jobs, finding communities of interest, and demonstrating skills, competencies and achievements.</p>

    </section>
  </section>
{% endblock %}
