{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/coda-slider-2.0.css" type="text/css" media="screen" />
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/jquery.coda-slider-2.0.js"></script>
  <script src="/scripts/jquery.easing.1.3.js"></script>
  <script>
    $().ready(function() {
      $('#slideshow').codaSlider({
        dynamicTabs: false
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div id="slideshow-wrapper">
  <div class="coda-slider preload" id="slideshow">
    <div class="panel" id="what-are">
      <div class="panel-wrapper">
        <h1>What are <em>Open Badges?</em></h1>
        <p>
          Learning today happens everywhere. But it's often difficult to get recognition for skills and achievements for most of that learning. Mozilla's Open Badges is working to solve that problem, making it easy to issue, earn and display badges across the web.
        </p>
      </div>
    </div>
    <div class="panel">
      <div class="panel-wrapper">
        <h1>Panel 2</h1>
        Panel twoooo!
      </div>
    </div>
  </div>
  </div>
{% endblock %}
