{% extends "base.html" %}
{% block section_id %}main{% endblock %}
{% block page_id %}index{% endblock %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery.fancybox.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen" />
  <script src="/scripts/slides.min.jquery.js"></script>
  <script>
    $(function(){
      var win = $('#badges-101 #win').remove();
      var questions = $('.quiz').length;
      var answered = 0;
      $('.quiz .discussion').hide();
      $('.quiz').each(function(){
        var discussion = $(this).find('.discussion');
        $(this).find('.correct').one('click', function(){
          discussion.fadeIn();          
          answered++;
          if (answered == questions) {
            $('#final').empty();
            $('#final').append($(win).contents());
          }
        });
        $(this).find('.options .button:not(.correct)').click(function(){
          console.log('NO!');
        });
      });
    });
  </script>
  <script>
    $(function(){
      $('#slides').slides();
      $('.fancybox').fancybox({
        closeBtn: true,
        arrows: false
      });
    });
  </script>
{% endblock %}

{% block content %}
      <div id="dml-speech" class="box">Learn more about the <a href="http://www.dmlcompetition.net/Competition/4/press-kit.php">DML Badge Competition</a>!</div>
<section id="content">
  <section id="what-are-badges">
    <div class="wrapper box">
      <h1>What are <em>Open Badges?</em></h1>
      <p>
        Learning today happens everywhere. But it's often difficult to get recognition for skills and achievements for most of that learning. Mozilla's Open Badges is working to solve that problem, making it easy to issue, earn and display badges across the web.
      </p>
      <a href="#badges-101" id="get-started" class="button fancybox">get started</a>
      <div id="hands"></div>
    </div>
  </section>
  <section id="issuer-user-displayer">
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}issuer.html">
        <div class="badge" id="issuer_badge"></div>
        <h2>Issuer</h2>
        <p>I want to issue badges</p>
      </a>
    </div>
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}user.html">
        <div class="badge" id="user_badge"></div>
        <h2>User</h2>
        <p>I want to earn and collect badges</p>
      </a>
    </div>
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}displayer.html">
        <div class="badge" id="displayer_badge"></div>
        <h2>Displayer</h2>
        <p>I want to display badges</p>
      </a>
    </div>
  </section>
  <section id="badges-101">
    <div id="slides" role="main">
      <div class="slides_container">    
        <div>
          <h1>Open Badges</h1>
          <p>Helping learners everywhere display skills, unlock career opportunities and level up in life</p>
          <p>Let’s go through some of the basics about badges and earn your first badge in the process.</p>
          <a href="#" class="next button">Next</a>
        </div>
        <div>
          <p>Learning today happens everywhere. But it's often difficult to get recognition for skills and achievements that happen outside of school. Mozilla's Open Badges is working to solve that problem, making it easy for anyone to issue, earn and display badges across the web -- through a shared infrastructure that's free and open to all.</p>        
          <a href="#" class="next button">Next</a>
        </div>
        <div>
          <p>The Mozilla Open Badge Infrastructure enables any organization or community to issue badges backed by their own seal of approval. Learners/users can then collect badges from different sources and share them across the web, unlocking new career and learning opportunities.</p>
          <a href="#" class="next button">Next</a>
        </div>
        <div class="quiz">
          <p>Now let's see how much you get badges!</p>
          <p>Some true statement.</p>
          <section class="options">
            <a href="#" class="true button correct">True</a>
            <a href="#" class="false button">False</a>
          </section>
          <section class="discussion">
            <p>That's right! And here's why...</p>
            <a href="#" class="next button">Next</a>
          </section>
        </div>
        <div class="quiz">
          <p>Some false statement.</p>
          <section class="options">
            <a href="#" class="true button">True</a>
            <a href="#" class="false button correct">False</a>
          </section>
          <section class="discussion">
            <p>That's right! And here's why...</p>
            <a href="#" class="next button">Next</a>
          </section>
        </div>
        <div id="final">
          <p>Take the quiz to see if you get badges!</p>
        </div>
        <div id="win">
          <p>Yay, you win!</p>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
