{% extends "base.html" %}
{% block section_id %}main{% endblock %}
{% block page_id %}index{% endblock %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/jquery.fancybox.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen" />
  <script src="/scripts/slides.min.jquery.js"></script>
  <script src="/scripts/quickbadge.js"></script>
  <script src="http://beta.openbadges.org/issuer.js"></script>
  <script>

    /* Cheating takes you straight to the win panel 
       when you 'get started' in the UI 
     */
    var cheat = false;

    $(function(){

      /* Badges 101 badge acceptance panel */
      $('#get-badge').hide();
      $('#after-badge').hide();
      $('#push-to-backpack').one('click', function(){
        $('#nav-panel').hide();
        $('#get-badge').fadeIn();
      }); 

      $("#get-badge form").submit(function() {
        var email = $(this).find("input#email").val().trim();
        if (QuickBadge.validateEmail(email)) {
          var baseURI = $('<a href="./"></a>')[0].href;
          var publish = QuickBadge.publish({
            service: "http://hackpub.hackasaurus.org/publish",
            assertion: {
              "recipient": email,
              "badge": {
                "version": "0.0.1",
                "name": "Badges 101",
                "image": $("#badges101")[0].src,
                "description": "You really get badges!",
                "criteria": baseURI,
                "issuer": {
                  // TODO: The 'origin' isn't checked right now,
                  // so we will take advantage of this to use an
                  // authoritative domain that's good for
                  // demo purposes.
                  "origin": "http://badges-101.openbadges.org/",
                  "name": "Open Badges",
                  "org": "Experimental Badge Authority",
                  "contact": "hai2u@openbadges.org"
                }
              }
            }
          });
          $("#get-badge form").fadeOut(function() {
            $("#throbber").fadeIn(function() {
              publish.fail(function() {
                alert("Sorry, an error occurred. Please try again later.");
                $("#get-badge form").show();
                $("#throbber").hide();
              });
              publish.done(function(url) {
                $("#throbber").fadeOut();
                QuickBadge.issue(url).done(function(errors, successes) {
                  if (successes.length) {
                    $("#get-badge").hide();
                    $("#after-badge").show();
                  }
                  else {
                    $("#get-badge form").show();
                    $("#throbber").hide();
                  }
                  console.log("errors", errors, "successes", successes);
                });
              });
            });
          });
        } else
          alert("Please provide a valid e-mail address.");
        return false;
      });

      $('#win').hide();
      function win(){
        $('#incomplete').hide();
        $('#win').show();
      }
      var questions = $('.quiz').length;
      var answered = 0;

      if(cheat){
        win();
      }

      $('.quiz .discussion').hide();
      /* For each quiz slide... */
      $('.quiz').each(function(){
        var discussion = $(this).find('.discussion');
        /* Show the discussion when they click the right answer */
        $(this).find('.options').one('click', function(evt){
          if($(evt.target).hasClass('correct'))
            $(discussion).find('.answer').text("That's right!");
          else 
            $(discussion).find('.answer').text("That's wrong!");
          discussion.fadeIn();          
          answered++;
          if (answered == questions) {
            win();
          }
        });
      });

    });
  </script>
  <script>
    $(function(){
      var start = 0;
      if(cheat){
        /* Jump straight to the final slide */
        start = $('.slide').length;
      }
      $('#slides').slides({
        start: start
      });
      $('.fancybox').fancybox({
        closeBtn: true,
        arrows: false
      });
    });
  </script>
{% endblock %}

{% block content %}
      <div id="dml-speech" class="box">Learn more about the <a href="{{ LOCALE_ROOT }}faq.html#dml-competition">DML Badge Competition</a>!</div>
<section id="content">
  <section id="what-are-badges">
    <div class="wrapper box">
      <h1>What are <em>Open Badges?</em></h1>
      <p>
        Learning today happens everywhere. But it's often difficult to get recognition for skills and achievements for most of that learning. Mozilla's Open Badges is working to solve that problem, making it easy to issue, earn and display badges across the web.
      </p>
      <a href="#badges-101" id="get-started" class="button fancybox">get started</a>
      <div id="hands"></div>
    </div>
  </section>
  <section id="issuer-user-displayer">
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}issuer.html">
        <div class="badge" id="issuer_badge"></div>
        <h2>Issuer</h2>
        <p>I want to issue badges</p>
      </a>
    </div>
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}user.html">
        <div class="badge" id="user_badge"></div>
        <h2>User</h2>
        <p>I want to earn and collect badges</p>
      </a>
    </div>
    <div class="col box">
      <a href="{{ LOCALE_ROOT }}displayer.html">
        <div class="badge" id="displayer_badge"></div>
        <h2>Displayer</h2>
        <p>I want to display badges</p>
      </a>
    </div>
  </section>
  <section id="badges-101">
    <div id="slides" role="main">
      <div class="slides_container">    
        <div id="intro" class="slide">
          <h1>Open Badges</h1>
          <p class="tagline">Helping learners everywhere display skills, unlock career opportunities and level up in life</p>
          <p>Let’s go through some of the basics about badges and earn your first badge in the process.</p>
          <a class="next button">Start</a>
        </div>
        <div class="lesson slide">
          <p>Learning today happens everywhere. But it's often difficult to get recognition for skills and achievements that happen outside of school. Mozilla's Open Badges is working to solve that problem, making it easy for anyone to issue, earn and display badges across the web -- through a shared infrastructure that's free and open to all.</p>        
          <a class="next button">Next</a>
        </div>
        <div class="lesson slide">
          <p>The Mozilla Open Badge Infrastructure enables any organization or community to issue badges backed by their own seal of approval. Learners/users can then collect badges from different sources and share them across the web, unlocking new career and learning opportunities.</p>
          <a class="next button">Next</a>
        </div>
        <div class="quiz slide">
          <p id="quiz-intro">Now let's see how much you get badges!</p>
          <section class="question">
            <p>True or False: Learning today happens everywhere, not just in classrooms.</p>
          </section>
          <section class="options">
            <a class="true button correct">True</a>
            <a class="false button">False</a>
          </section>
          <section class="discussion">
            <p><span class="answer">Answer: True.</span> There are countless examples of learning occurring through informal channels. The web and other new learning spaces provide exciting new ways to gain skills and experiences -- from online courses, learning networks and mentorship to peer learning, volunteering and after-school programs.</p>
            <a class="next button">Next</a>
          </section>
        </div>
        <div class="quiz slide">
          <section class="question">
          <p>True or False: You can understand a person’s skill set simply by looking at their degree.</p>
          </section>
          <section class="options">
            <a class="true button">True</a>
            <a class="false button correct">False</a>
          </section>
          <section class="discussion">
            <p><span class="answer">Answer: False.</span> While degrees do convey some basic information about people’s skills, they often tend to be abstracted from the actual learning that has occurred. Two people with the same degree may have taken very different learning pathways or developed different skills along the way. And many people without a formal degree may possess a vast set of job-relevant skills. Badges can help by providing a more complete picture, recognizing a more granular set of skills, and recording the entire learning path.</p>
            <a class="next button">Next</a>
          </section>
        </div>
        <div class="quiz slide">
          <section class="question">
          <p>True or False: Resumes are validated and evidence-based.</p>
          </section>
          <section class="options">
            <a class="true button">True</a>
            <a class="false button correct">False</a>
          </section>
          <section class="discussion">
            <p>
              <span class="answer">Answer: False.</span> Resumes are documents that people write themselves. Granular information on a resume is often difficult to validate. With digital badges, users can click on a given badge to access information about the badge’s issuer, how the badge was earned, and more. In other words, badges can go beyond traditional resumes by providing built-in evidence for validation.  
            </p>
            <a class="next button">Next</a>
          </section>
        </div>
        <div id="final" class="slide">
          <section id="incomplete">
            <p>Take the quiz to see if you get badges!</p>
          </section>
          <section id="win">
            <!-- Point to the image on github so that the backpack can access it if the user decides to send their badge there. -->
            <img id="badges101" src="https://github.com/toolness/openbadges.org/raw/master/static/img/index/101badge.png" />
            <h1>Badges 101</h1>
            <p>Congratulations! You’ve just earned the Badges 101 badge!</p>
            <section id="nav-panel">
              <nav>
                <a id="push-to-backpack" class="backpack">Push badge to your backpack</a>
                <a id="navigator" href="http://toolness.github.com/hackasaurus-parable/navigator-badge/#">Go earn the Hackasaurus Navigator badge</a>
              </nav>
            </section>
            <section id="get-badge">
              <p class="instructions">If you'd like to send this badge to your backpack, just fill out the form below.</p>
              <form>
                <input type="text" id="email" placeholder="E-mail Address">
                <input type="submit" value="Send To Backpack »" id="submit">
              </form>
              <img src="/img/ajax-loader.gif" id="throbber" style="display: none">
            </section>
            <section id="after-badge">
              <nav>
                <a class="backpack" href="http://beta.openbadges.org/">Visit your backpack</a>
                <a id="navigator" href="http://toolness.github.com/hackasaurus-parable/navigator-badge/#">Go earn the Hackasaurus Navigator badge</a>
              </nav>
            </section>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
