{% extends "base.html" %}
{% block section_id %}participant{% endblock %}
{% block page_id %}issuer{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>Issuer</h1>
    <h2>What do I need to know?</h2>
  </header>

  <section id="content">
    <section>
      <h3>What is a Badge Issuer?</h3>
      <p>
        An issuer is a badge issuing organization, group or individual who uses the Open Badge Infrastructure to allow earners to push badges from their site into the Mozilla Backpack. Because of the <abbr title="Open Badge Infrastructure">OBI</abbr>’s open infrastructure, it’s easy to become an issuer: just meet the required badge specifications.
      </p>
      <div id="hands"></div>
    </section>
    <section>
      <h3>Why become an Issuer?</h3>
      <ul>
        <li><strong>Extend the value of learning experiences for your earners.</strong> By plugging into the <abbr title="Open Badge Infrastructure">OBI</abbr>, you allow your earners the flexibility of pursuing multiple learning pathways.</li>
        <li><strong> Promote your brand.</strong> Your badges can be shared across the entire ecosystem, carrying your brand and its values along with them.</li>
        <li><strong>Build your community.</strong> Each of your badges links back to you, regardless of where they are shared or used, so more people can discover your learning experiences through badges.</li>
        <li><strong>Promote your success on a bigger stage.</strong> Your badges represent real learning experiences and achievements fostered by you. The <abbr title="Open Badge Infrastructure">OBI</abbr> allows you to share evidence of these successes to individual earners and across a broader ecosystem.</li>
      </ul>
    </section>
    <section>
      <h3>What is the Badge Backpack?</h3>

      <p>The Badge Backpack is the location where an earner collects, manages, groups and shares their badges. </p>
      <p>When you, as an <abbr title="Open Badge Infrastructure">OBI</abbr>-compliant issuer, award a badge, the badge recipient receives a notification. It’s then up to them whether they decide to push that badge into their Backpack or not. This workflow ensures that the earner maintains control of their badges at all times.</p>
      <p>Mozilla will host the initial reference Backpacks, but the open nature of the infrastructure is designed to allow issuers to develop and host their own Backpacks as well. </p>

      <a href="#" class="top">Return to top</a>
    </section>
    <section>
      <h3>How do I get started?</h3>

      <p>The <abbr title="Open Badge Infrastructure">OBI</abbr> is open source and supports any independent issuer that conforms to the necessary badge and issuing specifications. Please see the <a href="https://github.com/mozilla/openbadges/wiki/Issuer-API">technical documentation</a> for more details.</p>
      <ul>
        <li><a href="https://wiki.mozilla.org/Badges/Onboarding-Issuer">Onboarding Documentation</a></li>
      </ul>
      <a href="#" class="top">Return to top</a>
    </section>
  </section>
{% endblock %}
