{% extends "base.html" %}
{% block section_id %}participant{% endblock %}
{% block page_id %}issuer{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>Issuer</h1>
    <h2>What do I need to know?</h2>
  </header>

  <section id="content">
    <section class="box">
      <h3>What is an Issuer?</h3>
      <p>
        An issuer is a badge issuing organization, group or individual who uses the OBI to allow users to push badges from their site into the Mozilla Backpack. Because of the OBI’s open infrastructure, it’s easy to become an issuer: just meet the required badge specifications.
      </p>
      <div id="hands"></div>
    </section>
    <section>
      <h3>Why become an Issuer?</h3>
      <ul>
        <li>Extend the value of learning experiences for your users. By plugging into the OBI, you allow your users to use badges in ways that suit them best like sharing them directly with potential employers, formal institutions or social networks. This freedom can produce real results like better jobs, social credit or enhanced reputation.</li>
        <li>Promote your brand. Your badges can be shared across the entire ecosystem, carrying your brand and its values along with them.</li>
        <li>Bring more users back to you (Or Build your community?). Each of your badges links back to you, regardless of where they are shared or used, so more people can discover your learning experiences through badges.</li>
        <li>Promote your success on a bigger stage. Your badges represent real learning experiences and achievements fostered by you. The OBI allows you to share evidence of these successes to individual users and across a broader ecosystem.</li>
      </ul>
      <a href="#" class="top">Return to top</a>
    </section>
    <section>
      <h3>What is the Backpack?</h3>

      <p>The Backpack is the location where a user collects, manages, groups and share their badges. When you, as an OBI compliant issuer, award a badge, it appears in a user’s backpack. The user has the option of accepting or rejecting any badge that is issued to them. In the current beta version of the OBI, you’ll push badges directly into the user’s Backpack. However post-beta, you’ll notify the badge recipient (user) that you’ve awarded them a badge and the user will push that badge into their Backpack. This second workflow ensures that the user maintains control over all of their badges.</p>

      <p>Mozilla will host the initial reference Backpacks, but the open nature of the infrastructure is designed to allow issuers to develop and host their own Backpacks as well.</p>
      <a href="#" class="top">Return to top</a>
    </section>
    <section>
      <h3>How do I get started?</h3>

      <p>The OBI is open source and supports any independent issuer that conforms to the necessary badge and issuing specifications. Please see the <a href="http://openbadges.org/infrastructure-tech-docs/">technical documentation</a> for more details.</p>
      <a href="#" class="top">Return to top</a>
    </section>
  </section>
{% endblock %}
