{% extends "base.html" %}
{% block section_id %}participant{% endblock %}
{% block page_id %}user{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <header>
    <h1>User</h1>
    <h2>What do I need to know?</h2>
  </header>

  <section id="content">
    <section>
      <h3>Who is a User?</h3>
      <p>
        A user is someone who collects and stores their badges within the Open Badge infrastructure. The <abbr title="Open Badge Infrastructure">OBI</abbr> acts as the conduit between an issuer and a user, permitting a user to earn, accept, store, and manage badges within their Mozilla Backpack. From there they can choose to display their badges on a variety of sites, including blogs, social media sites, and personal websites.
      </p>
      <div id="hands"></div>
    </section>
    <section>
      <h3>Why become a user of the Open Badge Infrastructure?</h3>
      <ul>
        <li>
          <strong>Tell a more complete story about yourself and your skills.</strong> By combining badges from different issuers in the Backpack, you can tell a more comprehensive story of your skills and learning history to potential employers, schools, and peer groups.
        </li>
        <li>
          <strong>Control your credentials.</strong> The <abbr title="Open Badge Infrastructure">OBI</abbr> provides you with complete control over your badges. You can accept and reject badges as well as set privacy controls. All badges start off as private, so you’re in complete control of who sees what.
        </li>
        <li>
        <strong>Promote yourself.</strong> You can create groups of badges that can be shared with different audiences and websites which allows you to manage and curate your accomplishments and showcase them.
        </li>
        <li>
        <strong>Get real results.</strong> Through the <abbr title="Open Badge Infrastructure">OBI</abbr>, you can extend the value of your badges and use them to get real results like jobs and new opportunities.
        </li>
      </ul>
    </section>
    <section>
      <h3>What is the Badge Backpack?</h3>

      <p>
        The Backpack is your main interface for collecting, managing, grouping and sharing your badges. When you earn badges on participating <abbr title="Open Badge Infrastructure">OBI</abbr> issuer sites, you can push them directly into your Backpack. You can also import badges stored elsewhere into the Backpack. However, these badges must be <abbr title="Open Badge Infrastructure">OBI</abbr> compliant as well. 
      </p>
      <a href="#" class="top">Return to top</a>
    </section>
  </section>
{% endblock %}
